################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CineGlobe-API/obj
/CineGlobe-API/bin
